* {
	margin: 0;
	padding: 0;
}

.config {
	width: 98%;
	min-height: 80vh;
	margin: 5% auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 5%;
}

.config .options {
	background-color: #FFF;
	box-shadow: 10px 11px 5px -4px rgba(0,0,0,0.29);
	border-radius: 4px;
	display: grid;
	grid-template-rows: repeat(4, 50px);
	padding: 0;
}

.config .option {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.selected {
	background-color: rgba(51,51,51, .5);
}

.configs {
	width: 100%;
	height: 100;
	background-color: #FFF;
	box-shadow: 10px 11px 5px -4px rgba(0,0,0,0.29);
	border-radius: 4px;
}

.account {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px;
}

.account .title {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(51,51,51, .5);
	height: 30px;
	width: 100%;
}

.account .opts {
	display: grid;
	grid-template-columns: 1fr;
	overflow-y: scroll;
	max-height: 70vh;
}

.account .opts .info {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.sub_title {
	border-bottom: 2px solid rgba(51,51,51, .5);
}


input, textarea {
	position:relative;
	z-index:2;
	border:none;
	height:40px;
	width:100%;
	border-radius:20px;
	box-shadow:0 2px 15px -3px #bfbfbf;
	padding: 10px
}